CLIENT_ORIGIN=
DATABASE_URL=
GEMINI_API_KEY=
JWT_ACCESS_EXPIRES_IN=
JWT_ACCESS_SECRET=
JWT_REFRESH_EXPIRES_IN=
JWT_REFRESH_SECRET=
PORT=
R2_ACCESS_KEY_ID=
R2_ACCOUNT_ID=
R2_BUCKET_NAME=
R2_PUBLIC_URL=
R2_SECRET_ACCESS_KEY=
VITE_API_BASE_URL=
VITE_SOCKET_URL=