.authPage {
    width: 100%;
    height: 100vh;
    background-color: var(--color-background);
    display: flex;
    padding: 3vh;
    gap: 3vh;
    box-sizing: border-box;
    overflow: hidden;

    .sidebar {
        position: relative;
        width: fit-content;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        box-sizing: border-box;
        overflow: hidden;

        .glyphArea {
            flex: 1;
            height: 100%;
            width: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;

            .verticalGlyph {
                height: 100%;
            }
        }

        .sidebarWordmark {
            position: absolute;
            bottom: 1rem;
            color: var(--color-primary);
            font-family: var(--font-sans);
            font-size: 3rem;
            flex-shrink: 0;
            pointer-events: none;
        }
    }

    .contentContainer {
        flex: 1;
        height: 100%;
        background-color: var(--color-primary);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        box-sizing: border-box;
        border: 0.125rem solid var(--color-accent);
        box-shadow: inset 0 0 0.25rem var(--color-accent);
        overflow: hidden;

        .formShaderWrapper {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            pointer-events: none;
            opacity: 30%;
        }
    }
}